{% extends "../main.html" %}

{% block header %}
<script src="/static/js/libs/highcharts.js"></script>
<script src="/static/js/libs/exporting.js"></script>
{% end %}

{% block title %}Completed Job{% end %}

{% block content %}
	{% if 0 != len(user.completed_jobs) %}
		<!-- Graph Code -->
		<script>
			var pieChart;
			Highcharts.theme = {
			   title: {
			      style: {
			         color: '#FFFFFF',
			         font: 'bold 20px "Trebuchet MS", Verdana, sans-serif'
			      }
			   },
			   subtitle: {
			      	style: {
			        	color: '#FFFFFF',
			        	font: '14px "Trebuchet MS", Verdana, sans-serif'
			      	}
			   },
			};
			Highcharts.setOptions(Highcharts.theme);
			function createGraph() {
				pieChart = new Highcharts.Chart({
					chart: {
						renderTo: 'pie',
						plotBackgroundColor: null,
						plotBorderWidth: null,
						plotShadow: false,
						backgroundColor: 'transparent'
					},
					title: {
						text: 'Password Analysis'
					},
					subtitle: {
						text: 'Cracked Passwords'
					},
					tooltip: {
						formatter: function() {
							return '<strong>'+ this.point.name +'</strong>: '+ this.percentage +' %';
						}
					},
					plotOptions: {
						pie: {
							allowPointSelect: true,
							showInLegend: false,
							cursor: 'pointer',
							dataLabels: {
								enabled: true,
								color: '#FFFFFF',
								connectorColor: '#FFFFFF',
								formatter: function() {
									return '<strong>'+this.point.name+'</strong> '+ this.percentage +' %';
								}
							}
						}
					},
					series: [{
						type: 'pie',
						name: 'PasswordDistribution',
						data: []
					}]
				});
			}
			function getDetails(job_id) {
				$.get('/ajax/jobdetails?job_id=' + job_id, function(data) {
			  		document.getElementById('job_view').innerHTML = data;
				});
			}
			function getStats(job_id){
				$('#job_view').load('/ajax/jobstatistics?job_id='+job_id, function() {
					createGraph();
					/* Load stats data */
					$.get('/ajax/jobdata?job_id=' + job_id, function(data) {
					  	var dataSet = $.parseJSON(data);
					  	for (var index = 0; index < dataSet.length; ++index) {
					  		$.each(dataSet[index], function(key, val) {
							    pieChart.series[0].addPoint([key, val]);
							});
					  	}
					});
					pieChart.redraw();
				});
			}
			function setDownloadFormat(format) {
				document.getElementById('download-format').value = format;
			}
		</script>
        <!-- Static Parts -->
		<div class="container-fluid">
			<div class="row-fluid">
		    	<div class="span2">
					<div class="well" style="padding: 8px 0;">
						<ul class="nav nav-list">
						  	<li class="nav-header">
						    	Completed Jobs
						  	</li>
						    {% for job in user.completed_jobs %}
								<li id="job{{ job.id }}">
								    <a href="#job{{ job.id }}" onclick="getDetails({{ job.id }})">{{ job.name }}</a>
								</li>
						    {% end %}
						</ul>
					</div>
				</div>
				<!-- Ajaxy stuff goes here -->
				<div class="span10" id="job_view">
					<br />
					<!-- Fuck strict HTML5 -->
					<center>
						<strong>Please select a job from the menu on the left.</strong>
					</center>
				</div>
			</div>
		</div>
	{% else %}
		<h2>Completed Jobs</h2>
		<div class="well">
			<h3>There are no completed jobs.</h3>
		</div>
	{% end %}
{% end %}