{% extends "../main.html" %}

{% block title %}Create Job{% end %}

{% block content %}
  <h2>Create Job</h2>
  <script>
    function setAlgo(new_algo) {
        document.getElementById('algorithm').value = new_algo;
    }
  </script>
  <div class="well">
    <form action="/createjob" method="post">  
      {% raw xsrf_form_html() %}
      <fieldset>
      <legend>{{ message }}</legend>
        <p>
          <br />
          <label for="jobname">Job Name</label>
          <input placeholder="Job Name" type="text" name="jobname" id="jobname" />
        </p>
        <p>
          <br />
          <label for="algorithm">Hash Algorithm</label>
          <input type="hidden" id="algorithm" name="algorithm" value="" />
          <div class="btn-group" data-toggle="buttons-radio">
              {% for algo in handler.application.settings['rainbow_tables'].keys() %}
                <button class="btn btn-primary" type="button" onclick="setAlgo('{{ algo }}')">{{ algo }}</button>
              {% end %}
          </div>
        </p>
        <p>
          <br />
          <label for="hashes">Password Hashes</label>
          <textarea placeholder="Copy &amp; Paste Hashes" style="width:auto" name="hashes" rows="15" cols="45">
          </textarea>
        </p>
      </fieldset>
      <p class="submit">
        <button class="btn btn-primary btn-large" data-loading-text="loading..." type="submit"> Create Job </button>
      </p>   
    </form>
    <script>
      document.getElementById('jobname').focus();
    </script>
  </div>
{% end %}
