/* Body and structure
-------------------------------------------------- */
body {
  position: relative;
  padding-top: 90px;
  background-color: #fff;
  background-image: url(/static/images/planetary.png);
  background-repeat: repeat-x;
  background-position: 0 40px;
}