{% extends "../main.html" %}

{% block title %}Manage Users{% end %}

{% block content %}
    <!-- Edit User -->
    <div id="editUserModal" class="modal hide fade" style="display: none; ">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>Edit User</h3>
        </div>
        <div class="modal-body">
            <form id="edit-user" class="form-horizontal" method="post" action="/admin/manageusers">
                {% raw xsrf_form_html() %}
                <input id="user_uuid" name="uuid" type="hidden" />
                <div class="control-group">
                    <label class="control-label" for="username">User Name</label>
                    <div class="controls">
                        <input id="user_username" name="username" type="text" placeholder="Username">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="user_password">Password</label>
                    <div class="controls">
                        <input id="user_password" name="password" type="password" placeholder="New Password">
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Close</a>
            <button type="button" class="btn btn-primary" onclick="document.forms['edit-user'].submit();">Save</button>
        </div>
    </div>
    <script>
        function get_details(uuid) {
            $("#user_uuid").val(uuid);
            $.getJSON('/admin/users/ajax?uuid=' + uuid, function(data) {
                $.each(data, function(key, value) {
                    $("#user_" + key).val(value);
                });
            });
        }
        function toggle_lock(uuid) {
            $.getJSON('/admin/users/lock?uuid=' + uuid, function(response) {
                if ('success' in response) {
                    if ('locked' == response['success']) {
                        $("#lock_button_" + uuid).removeClass('btn-danger');
                        $("#lock_button_" + uuid).addClass('btn-success');
                        $("#lock_button_" + uuid).text("Unlock Account");
                    } else if ('unlocked' == response['success']) {
                        $("#lock_button_" + uuid).removeClass('btn-success');
                        $("#lock_button_" + uuid).addClass('btn-danger');
                        $("#lock_button_" + uuid).text("Lock Account");
                    }
                } else if ('error' in response) {
                    alert('Error: ' + response['error'].toString());
                } else {
                    alert('Bad response from server');
                }
            });
        }
    </script>
    <!-- Start Visable -->
    <div class="row-fluid">
        <div class="span10 offset1">
            <h1>Users</h1>
            <br />
            {% if errors is not None and len(errors) != 0 %}
                {% for error in errors %}
                    <div class="alert alert-error">
                        <a class="close" data-dismiss="alert" href="#">×</a>
                        <h4 class="alert-heading">ERROR</h4>
                        {{ error }}
                    </div>
                {% end %}
            {% end %}
            <table class="table table-bordered">
                <thead>
                    <tr>
                    	<th>#</th>
                        <th>Username</th>
                        <th>Lock</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                    {% from models import User %}
                    {% for index, user in enumerate(User.all_users()) %}
                        <tr>
                        	<td>{{ index }}</td>
                            <td>{{ user.username }}</td>
                            <td>
                                {% if user.locked %}
                                    <a id="{{ 'lock_button_' + user.uuid }}" 
                                    class="btn btn-mini btn-success" 
                                    onclick="toggle_lock('{{ user.uuid }}')">
                                        Unlock Account
                                    </a>
                                {% else %}
                                    <a id="{{ 'lock_button_' + user.uuid }}"
                                    class="btn btn-mini btn-danger" 
                                    onclick="toggle_lock('{{ user.uuid }}')">
                                        Lock Account
                                    </a>
                                {% end %}
                            </td>
                            <td>
                                <a class="btn btn-mini" data-toggle="modal" href="#editUserModal" 
                                    onclick="get_details('{{ user.uuid }}')">
                                    Edit User
                                </a>
                            </td>
                        </tr>
                    {% end %}
                </tbody>
            </table>
        </div>
    </div>
{% end %}
