{% extends "../../main.html" %}

{% block title %}View Weapon Systems{% end %}

{% block content %}
    <!-- Hidden Edit Form -->
    <div id="editModal" class="modal hide fade" style="display: none; ">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>Edit Weapon System</h3>
        </div>
        <div class="modal-body">
            <form id="edit-system" method="post" action="/admin/weapsonsystem/edit">
                {% raw xsrf_form_html() %}
                <div class="control-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input autofocus required id="name" placeholder="Weapon System Name" type="text" name="name"
                            rel="popover" pattern="^[a-zA-Z0-9 ]{3,15}$"
                            data-original-title="Username Selection"
                            data-content="Your weapon system name must be 3-15 alpha-numeric characters" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="ip_address">IP Address</label>
                    <div class="controls">
                        <input required id="ip_address" placeholder="IP Address" type="text" name="ip_address"
                            rel="popover"
                            data-original-title="IP Address"
                            data-content="Public IP address of weapon system" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="ssh_user">SSH User</label>
                    <div class="controls">
                        <input required id="ssh_user" placeholder="SSH User Name" type="text" name="ssh_user"
                            rel="popover"
                            data-original-title="SSH User"
                            data-content="Public IP address of weapon system" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="ssh_key">SSH Private Key</label>
                    <div class="controls">
                        <textarea placeholder="SSH Private Key (Yes this is scary)" style="width:auto" name="ssh_key" rows="10" cols="70">
                        </textarea>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="ssh_port">SSH Listen Port</label>
                    <div class="controls">
                        <input required id="ssh_port" placeholder="SSH Listen Port" type="text" name="ssh_port" value="22"
                            rel="popover"
                            data-original-title="SSH Port"
                            data-content="Remote listen port for SSH" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="ssh_port">Service Listen Port</label>
                    <div class="controls">
                        <input required id="service_port" placeholder="Service Listen Port" type="text" name="service_port" value="31337"
                            rel="popover"
                            data-original-title="SSH Port"
                            data-content="Remote listen port for SSH" />
                    </div>
                </div>      
            </form>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Close</a>
            <button type="button" class="btn btn-primary" onclick="document.forms['edit-system'].submit();">Save</button>
        </div>
    </div>
    <!-- Hidden Delete Form -->
    <div id="deleteModal" class="modal hide fade" style="display: none; ">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>Delete Weapon System</h3>
        </div>
        <div class="modal-body">
            <strong>Are you sure you want to delete this weapon system?</strong>
            <form id="del-system" method="post" action="/delweapsonsystem">
                {% raw xsrf_form_html() %}
                <input type="hidden" name="del-sys" id="del-sys" />
            </form>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Close</a>
            <button type="button" class="btn btn-danger" onclick="document.forms['del-system'].submit();">Delete</button>
        </div>
    </div>
    <script>
        /* Edit System */
        function editSys(system_uuid) {
            document.getElementById('edit-sys').value = system_uuid;
        }
        /* Delete System */
        function delSys(system_uuid) {
            document.getElementById('del-sys').value = system_uuid;
        }
    </script>
    <h2>Weapon Systems</h2>
    <br />
    <div class="well">
        <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>IP Address</th>
                <th>Plugins</th>
                <th>Connection</th>
                <th>Details</th>
                <th>Initialize</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
                {% from models import WeaponSystem %}
                {% for index, wsys in enumerate(WeaponSystem.get_all()) %}
                    <tr>
                        <td>{{ index + 1 }}</td>
                        <td>{{ wsys.name }}</td>
                        <td>{{ wsys.ip_address }}</td>
                        <td>{{ len(wsys.plugins) }}</td>
                        <td>
                            <a class="btn btn-primary" data-toggle="modal" href="#editModal" onclick="editSys('{{ wsys.uuid }}')">
                                Edit Settings
                            </a>
                        </td>
                        <td>
                            <a class="btn btn-primary" href="/admin/weaponsystem/details?uuid={{ wsys.uuid }}">
                                Details
                            </a>
                        </td>
                        <td>
                            {% if not wsys.initialized %}
                                <a class="btn btn-danger" href="/admin/weaponsystem/init?uuid={{ wsys.uuid }}">
                                    Init Now
                                </a>
                            {% else %}
                                <a class="btn btn-primary" href="/admin/weaponsystem/init?uuid={{ wsys.uuid }}">
                                    Re-Init
                                </a>
                            {% end %}
                        </td>
                        <td>
                            <a class="btn btn-danger" data-toggle="modal" href="#deleteModal" onclick="delSys('{{ wsys.uuid }}')">
                                Delete
                            </a>
                        </td>
                    </tr>
                {% end %}
            </tbody>
        </table>
    </div>
{% end %}