{% extends "../../main.html" %}

{% block header %}
	<script src="/static/js/libs/highcharts.js"></script>
	<script src="/static/js/libs/exporting.js"></script>
{% end %}

{% block title %}Completed Job{% end %}

{% block content %}
	<!-- Hidden Download Form -->
	<div id="downloadModal" class="modal hide fade" style="display: none; ">
	    <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">×</button>
	        <h3>Download Options</h3>
	    </div>
	    <div class="modal-body">
	        <h4>Include in Download</h4>
	        <form id="download-options" method="post" action="/download">
	        	{% raw xsrf_form_html() %}
	        	<input type="hidden" id="download-job" name="job_id" value="" />
	        	<input type="hidden" id="download-format" name="format" value="" />
				<input type="checkbox" name="index" value="" /> Index #
				<br />
				<input type="checkbox" name="digest" value="" /> Hash
				<br />
				<input type="checkbox" name="plaintext" value="" /> Plain text
				<br />
				<input type="checkbox" name="solved" value="" /> Only Cracked Passwords
			</form>
	    </div>
	    <div class="modal-footer">
	        <a href="#" class="btn" data-dismiss="modal">Close</a>
	        <button type="button" class="btn btn-primary" onclick="document.forms['download-options'].submit();">Download File</button>
	    </div>
	</div>
	<!-- Hidden Delete Form -->
	<div id="deleteModal" class="modal hide fade" style="display: none; ">
	    <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">×</button>
	        <h3>Delete Job</h3>
	    </div>
	    <div class="modal-body">
	        <h4>Are you sure you want to delete this job?</h4>
	    </div>
	    <form id="deletejob" action="/cracking/deletejob" method="post">
	    	{% raw xsrf_form_html() %}
	    	<input type="hidden" id="delete_job_id" name="job_id" value=""/>
	    </form>
	    <div class="modal-footer">
	        <a href="#" class="btn" data-dismiss="modal">Close</a>
	        <button type="button" class="btn btn-danger" onclick="document.forms['deletejob'].submit();">Delete Job</button>
	    </div>
	</div>
	{% if 0 != len(user.completed_jobs) %}
		<!-- Graph Code -->
		<script>
			var pieChart;
			Highcharts.theme = {
			   title: {
			      style: {
			         color: '#FFFFFF',
			         font: 'bold 20px "Trebuchet MS", Verdana, sans-serif'
			      }
			   },
			   subtitle: {
			      	style: {
			        	color: '#FFFFFF',
			        	font: '14px "Trebuchet MS", Verdana, sans-serif'
			      	}
			   },
			};
			Highcharts.setOptions(Highcharts.theme);
			function createGraph() {
				pieChart = new Highcharts.Chart({
					chart: {
						renderTo: 'pie',
						plotBackgroundColor: null,
						plotBorderWidth: null,
						plotShadow: false,
						backgroundColor: 'transparent'
					},
					title: {
						text: 'Complexity Analysis'
					},
					subtitle: {
						text: 'Cracked Passwords'
					},
					tooltip: {
						formatter: function() {
							return '<strong>'+ this.point.name +'</strong>: '+ (this.percentage).toString().slice(0,5) +' %';
						}
					},
					plotOptions: {
						pie: {
							allowPointSelect: true,
							showInLegend: false,
							cursor: 'pointer',
							dataLabels: {
								enabled: true,
								color: '#FFFFFF',
								connectorColor: '#FFFFFF',
								formatter: function() {
									return '<strong>'+this.point.name+'</strong> '+ (this.percentage).toString().slice(0,5) +' %';
								}
							}
						}
					},
					series: [{
						type: 'pie',
						name: 'PasswordDistribution',
						data: []
					}]
				});
			}
			function getDetails(job_id) {
				$.get('/cracking/ajax/jobdetails?job_id=' + job_id, function(data) {
			  		document.getElementById('job_view').innerHTML = data;
				});
				document.getElementById('download-job').value = job_id;
			}
			function getStats(job_id) {
				$('#job_view').load('/cracking/ajax/jobstatistics?job_id='+job_id, function() {
					createGraph();
					/* Load stats data */
					$.get('/cracking/ajax/jobdata?job_id=' + job_id, function(data) {
					  	var dataSet = $.parseJSON(data);
					  	for (var index = 0; index < dataSet.length; ++index) {
					  		console.log(dataSet);
					  		$.each(dataSet[index], function(key, val) {
					  			console.log([key, val]);
							    pieChart.series[0].addPoint([key, val]);
							});
					  	}
					  	pieChart.redraw();
					});
				});
			}
			function setDownloadFormat(format) {
				document.getElementById('download-format').value = format;
			}
			function setDeleteJob(job_id) {
				document.getElementById('delete_job_id').value = job_id;
			}
		</script>
        <!-- Static Parts -->
		<div class="container-fluid">
			<div class="row-fluid">
		    	<div class="span2">
					<div class="well" style="padding: 8px 0;">
						<ul class="nav nav-list">
						  	<li class="nav-header">
						    	Completed Jobs
						  	</li>
						    {% for job in user.completed_jobs %}
								<li id="job{{ job.uuid }}">
								    <a onclick="getDetails('{{ job.uuid }}')">{{ job.job_name }}</a>
								</li>
						    {% end %}
						</ul>
					</div>
				</div>
				<!-- Ajaxy stuff goes here -->
				<div class="span10" id="job_view">
					<br />
					<!-- Fuck strict HTML5 -->
					<center>
						<strong>Please select a job from the menu on the left.</strong>
					</center>
				</div>
			</div>
		</div>
	{% else %}
		<h2>Completed Jobs</h2>
		<div class="well">
			<h3>There are no completed jobs.</h3>
		</div>
	{% end %}
{% end %}