<ul class="nav">
    <!-- Home -->
    <li>
    	<a href="/user">Admin Home</a>
    </li>
    <li>
        <a href="/admin/monitor">Fleet Monitor</a>
    </li>
    <li>
    	<a href="/admin/users/manage">Manage Users</a>
    </li>
    <!-- Orbital Control -->
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Fleet Management&nbsp;<b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li class="nav-header">Weapon Systems</li>
            <li><a href="/admin/weaponsystem/add">Add a Weapon System</a></li>
            <li><a href="/admin/weaponsystem/view">View Current Fleet</a></li>
        </ul>
    </li>
    <!-- Logout -->
    <li>
    	<a href="/logout">Logout</a>
    </li>
</ul>