<ul class="nav">
    <!-- Home -->
	{% if uri == "/user" %}
    	<li class="active">
    {% else %}
    	<li>
    {% end %}
    	<a href="/user">Admin Home</a>
    </li>
    <!-- Manage Users -->
	{% if uri == "/manageusers" %}
    	<li class="active">
    {% else %}
    	<li>
    {% end %}
    	<a href="/manageusers">Manage Users</a>
    </li>
    <!-- Orbital Control -->
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Orbital Control&nbsp;<b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li class="nav-header">Weapon Systems</li>
            <li><a href="/addweaponsystem">Add a Weapon System</a></li>
            <li><a href="/editweaponsystem">Edit Weapon Systems</a></li>
        </ul>
    </li>
    <!-- Logout -->
    <li>
    	<a href="/logout">Logout</a>
    </li>
</ul>