<div class="nav-collapse">
    <ul class="nav">
        <li>
        	<a href="/user">Home</a>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Password Cracking<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="/cracking/jobs/create">Create Job</a></li>
                <li><a href="/cracking/jobs/queded">Queued Jobs</a></li>
                <li><a href="/cracking/jobs/completed">Completed Jobs</a></li>
            </ul>
        </li>
        <li>
            <a href="/cracking/reports">Reports</a>
        </li>
    </ul>
</div>
<div class="btn-group pull-right">
    <a class="btn btn-primary" href="/settings"><i class="icon-user icon-white"></i>&nbsp;{{ username }}&nbsp;</a>
    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
    <ul class="dropdown-menu">
            <li><a href="/settings"><i class="icon-pencil"></i>&nbsp;Settings&nbsp;</a></li>
            <li class="divider"></li>
            <li><a href="/logout"><i class="icon-ban-circle"></i>&nbsp;Logout&nbsp;</a></li>
    </ul>
</div>