{% extends "../main.html" %}

{% block title %}Login{% end %}

{% block header %}
<script type="text/javascript" src="https://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>
{% end %}

{% block content %}
    <!-- Wrapping the Recaptcha create method in a javascript function -->
    <script type="text/javascript">
    function showRecaptcha(element) {
       Recaptcha.create("6LcJJ88SAAAAAFzcmQqDPWGKRQXmJ0DCiZoPWTZf", element, {
         theme: "blackglass",
         callback: null});
     }
    $(document).ready(function() {
  	  showRecaptcha('recaptcha_div'); 
     });
  </script>
  <h2>Login</h2>
  <div class="well">
    <form action="/login" method="post" autocomplete="off">  
      {% raw xsrf_form_html() %}
      <fieldset>
      <legend>{{ message }}</legend>
        <p>
          <br />
          <label for="username">Username</label>
          <input placeholder="Username" type="text" name="username" id="username" />
        </p>
        <p>
          <br />
          <label for="password">Password</label>
          <input placeholder="Password" type="password" name="password" id="password" />
        </p>
        <p>
          <label for="recaptch_div">Are you a Cylon?</label>
          <div id="recaptcha_div">
          </div>
          <br />
        </p>
      </fieldset>
      <p class="submit">
        <button class="btn btn-primary btn-large" data-loading-text="loading..." type="submit"> Authenticate </button>
      </p>   
    </form>
    <script>
      document.getElementById('username').focus();
    </script>
  </div>
{% end %}