{% extends "../main.html" %}

{% block title %}Login{% end %}

{% block content %}
    <h2>Login</h2>
    <br />
    {% if errors is not None and len(errors) != 0 %}
      {% for error in errors %}
          <div class="alert alert-error">
              <a class="close" data-dismiss="alert" href="#">×</a>
              <h4 class="alert-heading">ERROR</h4>
              {{ error }}
          </div>
      {% end %}
    {% end %}
    <div class="row">
        <div class="well span11" style="background-image: url(/static/images/earthfire.jpg); background-size:contain; background-size:100%;">
            <br />
            <form class="form-horizontal" action="/login" method="post" autocomplete="off">  
                {% raw xsrf_form_html() %}
                <legend>Authentication Required</legend>
                <div class="control-group">
                    <label class="control-label" for="username">Username</label>
                    <div class="controls">
                        <input autofocus required name="username" id="username" placeholder="Username" type="text"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="passwd">Password</label>
                    <div class="controls">
                        <input required name="password" id="passwd" placeholder="Password" type="password" />
                    </div>
                </div>
                {% module Recaptcha() %}
                <div class="control-group">
                    <div class="controls">
                        <button class="btn btn-primary" type="submit">Authenticate</button>
                    </div>
                </div>
            </form>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />  <!-- Yeah I'm not a front-end guy... -->
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
        </div>
    </div>
{% end %}