{% extends "../main.html" %}

{% block title %}Registration{% end %}

{% block content %}
    <div class="container">
        <h1>Registration</h1>
        <br />
        {% if errors is not None and len(errors) != 0 %}
            {% for error in errors %}
                <div class="alert alert-error">
                    <a class="close" data-dismiss="alert" href="#">×</a>
                    <h4 class="alert-heading">ERROR</h4>
                    {{ error }}
                </div>
            {% end %}
        {% end %}
        <div class="well">
            <legend>Orbital Control Registration</legend>
            <form class="form-horizontal" action="/registration" method="post">  
                {% raw xsrf_form_html() %}
                <div class="control-group">
                    <label class="control-label" for="userame">Username</label>
                    <div class="controls">
                        <input autofocus required id="username" name="username" placeholder="Username" type="text"
                            rel="popover" pattern="^[a-zA-Z0-9 ]{3,15}$"
                            data-original-title="Username Selection"
                            data-content="Your username must be 3-15 alpha-numeric characters" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="pass1">Password</label>
                    <div class="controls">
                        <input required id="pass1" name="pass1" placeholder="Password" type="password" 
                            autocomplete="off" data-storage="false"
                            rel="popover"
                            data-original-title="Password"
                            data-content="Your password much contain only ascii chars" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="pass2">Confirm Password</label>
                    <div class="controls">
                        <input required id="pass2" name="pass2" placeholder="Confirm Password" type="password" 
                            autocomplete="off" data-storage="false"
                            rel="popover"
                            data-original-title="Confirm Password"
                            data-content="Enter the same password as before" />
                    </div>
                </div>
                {% module Recaptcha() %}
                <div class="control-group">
                    <div class="controls">
                        <button class="btn btn-primary" type="submit">&nbsp;Register Account&nbsp;</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script>
        $(function() {
            $("#username").popover({placement:'right', trigger:'focus'});
            $("#handle").popover({placement:'right', trigger:'focus'});
            $("#pass1").popover({placement:'right', trigger:'focus'});
            $("#pass2").popover({placement:'right', trigger:'focus'});
        });
        $('[rel=persist]').garlic();
    </script>
{% end %}