{% extends "../main.html" %}

{% block title %}Welcome{% end %}

{% block content %}
<div class="well" style="background-image: url(/static/images/planetary.png); background-size:contain; background-size:100%;">
    <h1>The Planetary Assault System</h1>
        <p>
        	Fire and forget password cracking and complexity analysis.
        </p>
        <p>
        	<a class="btn btn-primary btn-large" href="/register">Register &raquo;</a>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br /> <!-- This is easier than fixing the css, okay I'm a little lazy -->
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
        </p>
</div>
{% end %}