{% extends "../main.html" %}

{% block title %}Completed Job{% end %}

{% block content %}
	{% if 0 != len(user.completed_jobs) %}
		<script>
			function get_details(job_id) {
				$.get('/ajax/jobdetails?job_id=' + job_id, function(data) {
			  		document.getElementById('job_details').innerHTML = data;
				});
			}
			function setDownloadFormat(format) {
				document.getElementById('download-format').value = format;
			}
		</script>
        <!-- Static Parts -->
		<div class="container-fluid">
			<div class="row-fluid">
		    	<div class="span2">
					<div class="well" style="padding: 8px 0;">
						<ul class="nav nav-list">
						  	<li class="nav-header">
						    	Completed Jobs
						  	</li>
						    {% for job in user.completed_jobs %}
								<li id="job{{ job.id }}">
								    <a href="#job{{ job.id }}" onclick="get_details({{ job.id }})">{{ job.name }}</a>
								</li>
						    {% end %}
						</ul>
					</div>
				</div>
				<!-- Ajaxy stuff goes here -->
				<div class="span10" id="job_details">
					<br />
					<!-- Fuck strict html5, I'm lazy -->
					<center>
						<strong>No Job Selected</strong>
					</center>
				</div>
			</div>
		</div>
	{% else %}
		<h2>Completed Jobs</h2>
		<div class="well">
			<h3>There are no completed jobs.</h3>
		</div>
	{% end %}
{% end %}