{% extends "../main.html" %}

{% block title %}Home{% end %}

{% block content %}
	<h1>Welcome {{ user.user_name }}</h1>
	<br />
	<div class="well" style="background-image: url(/static/images/planetary2.jpg); background-size:contain; background-size:100%;">
		<div class="well">
			<h2>Planetary Assault System Status</h2>
			<br />
			<p>
				<strong> Weapon Systems </strong>
				{% for ws in all_weapons %}
					{% if ws.is_online() %}
						<h4>{{ ws.name }}: <code> ONLINE </code> </h4>
					{% else %}
						<h4>{{ ws.name }}: <code> OFFLINE </code> </h4>
					{% end %}
				{% end %}
			</p>
		</div>
		<div class="well">
			<h2>Your Cracking Jobs</h2>
			<br />
			<p>
				<h4>Queued Jobs: {{ len(user.queued_jobs) }} </h4>
				<br />
				<br />
				<h4>Completed Jobs: {{ len(user.completed_jobs) }}</h4>
			</p>
		</div>
	</div>
{% end %}