{% extends "../main.html" %}

{% block title %}Home{% end %}

{% block content %}
	<h1>Welcome {{ user.user_name }}</h1>
	<br />
	<div class="well" style="background-image: url(/static/images/planetary.png); background-size:contain; background-size:100%;">
		<h2>Planetary Assault System Status</h2>
		<br />
		<p>
			{% if current_job != None %}
				<strong>Weapon Systems: <code> ONLINE </code> 
				<br />
				<br />
				<strong>Current Target:</strong> <code> {{ current_job }} </code>
			{% else %}
				<strong>Weapon Systems:</strong> <code> IDLE </code>
			{% end %}
		</p>
	</div>
	<div class="well">
		<h2>Your Cracking Jobs</h2>
		<br />
		<p>
			Queued Jobs: {{ len(user.queued_jobs) }} 
			<br />
			<br />
			Completed Jobs: {{ len(user.completed_jobs) }}
		</p>
	</div>
{% end %}