{% extends "../main.html" %}

{% block title %}Create Job{% end %}

{% block content %}
	<div class="accordion" id="accordion1">
        {% for user in all_users %}
        	{% for job in user.jobs %}
	            <div class="accordion-group">
	              <div class="accordion-heading">
	                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse{{ user.jobs.index(job) }}">
	                  {{ user.jobs.index(job) + 1 }}. {{ user.user_name }} - {{ job.name }} ({{ job.hashes[0].algorithm }})
	                </a>
	              </div>
	              <div id="collapse{{ user.jobs.index(job) }}" class="accordion-body collapse" style="height: 0px; ">
	                <div class="accordion-inner">
	                	<ol>
		                  	{% for hash in job.hashes %}
		                  		<li> {{ hash.digest }} </li>
		                  	{% end %}
	                  	</ol>
	                </div>
	              </div>
	            </div>
            {% end %}
        {% end %}
	</div>
{% end %}